<a href="https://colab.research.google.com/github/K-107/Coding_Test/blob/main/Programmers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Level 1

## 1.완주하지 못한 선수

- https://programmers.co.kr/learn/courses/30/lessons/42576

### 1번 풀이 - 시간초과

In [ ]:
def solution(participant, completion):
    
    for i in participant:
        if i in completion:
            completion.remove(i)
        else:
            return i

In [ ]:
'''
sort(), sorted() 함수

sort()는 리스트를 정렬된 상태로 변경한다. 원본이 정렬돼 변경됨.
sorted()는 정렬된 리스트를 생성한다. 변수로 받아줘야한다.
https://cigiko.cafe24.com/python-%EC%A0%95%EB%A0%AC%ED%95%98%EA%B8%B0-sort%EC%99%80-sorted/
'''

다 = 'd b e g a g'.split()
다

['d', 'b', 'e', 'g', 'a', 'g']

In [ ]:
다.sort()

In [ ]:
다

['a', 'b', 'd', 'e', 'g', 'g']

In [ ]:
라 = 'd b e g a g'.split()
sorted(라)

['a', 'b', 'd', 'e', 'g', 'g']

In [ ]:
라

['d', 'b', 'e', 'g', 'a', 'g']

In [ ]:
'''
split 함수

'리스트 + 리스트'는 되지만 '리스트 - 리스트'는 안된다!
https://hjp845.tistory.com/54
'''

가 = 'a b c d e'.split( )
나 = 'a b c d'.split()
가 + 나

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd']

In [ ]:
가 - 나

TypeError: ignored

### 2번 풀이 - 통과

In [ ]:
'''
zip 함수

서로 길이가 다른 리스트에 zip함수 적용
https://dev-lagom.tistory.com/23
'''

def solution(participant, completion):
    
    sort_par = sorted(participant)
    sort_com = sorted(completion)
    
    for p,c in zip(sort_par, sort_com):
        if p != c:
            return p
    
    return sort_par[-1]

In [ ]:
'''
pop 함수

https://wikidocs.net/14#pop
'''

def solution(participant, completion):
    
    sort_par = sorted(participant)
    sort_com = sorted(completion)
    
    for p,c in zip(sort_par, sort_com):
        if p != c:
            return p
    
    return sort_par.pop()

## 2.직사각형 별찍기

- https://programmers.co.kr/learn/courses/30/lessons/12969

### 1번 풀이 - 틀림

In [ ]:
# a, b = map(int, input().strip().split(' '))

a, b = 5, 3
answer = (a*'*', '\n')*b
print(answer)

('*****', '\n', '*****', '\n', '*****', '\n')

### 2번 풀이 - 정답

In [ ]:
# 이걸로 해야한다!
# https://dojang.io/mod/page/view.php?id=1224
# https://gilu-world.tistory.com/40

a, b = 5, 3
answer = (a*'*' + '\n')*b
print(answer)

*****
*****
*****

### 추가 문제

In [ ]:
for i in range(3):
  print((i+1)*'*')

*
**
***

## 3.x만큼 간격이 있는 n개의 숫자

- https://programmers.co.kr/learn/courses/30/lessons/12954

In [ ]:
def solution(x, n):
    
    answer = []
    
    for i in range(n):
        i += 1 # =+는 아니다!
        a = x*i
        answer.append(a)
        
    return answer

In [ ]:
def solution(x, n):
    answer = []
    for i in range(1,n+1):
        answer.append(x*i)
    return answer

## 4.행렬의 덧셈

- https://programmers.co.kr/learn/courses/30/lessons/12950

In [ ]:
'''
zip 함수
'''

arr1 = [[1,2],[2,3]]
arr2 = [[3,4],[5,6]]
arr1, arr2

([[1, 2], [2, 3]], [[3, 4], [5, 6]])

In [ ]:
list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [ ]:
for a,b in zip(arr1, arr2):
  print(a,b)

[1, 2] [3, 4]
[2, 3] [5, 6]

In [ ]:
for a,b in zip(arr1, arr2):
  print(a+b) # 이렇게 더할 수는 없다.

[1, 2, 3, 4]
[2, 3, 5, 6]

In [ ]:
'''
리스트 내포

https://wikidocs.net/22#_1
'''

[[c + d for c,d in zip(a, b)] for a, b in zip(arr1, arr2)]

[[4, 6], [7, 9]]

In [ ]:
def solution(arr1, arr2): 
    answer = [[c + d for c,d in zip(a, b)] for a, b in zip(arr1, arr2)]
    return answer

## 5.핸드폰 번호 가리기

- https://programmers.co.kr/learn/courses/30/lessons/12948

### 내 풀이

In [ ]:
def solution(phone_number):
    star_len = len(phone_number[:-4])
    star = star_len*'*'
    real = phone_number[-4:]
    answer = star+real
    return answer

### 정답 풀이

In [ ]:
def solution(phone_number):
    return '*'*(len(phone_number)-4) + phone_number[-4:]

## 6.하샤드 수

- https://programmers.co.kr/learn/courses/30/lessons/12947

### 오답

In [ ]:
'''
split 함수
'''
def solution(x):
    lst = str(x).split() # 안나눠진다!!
    print(lst)
    num = int(lst[0]) + int(lst[1])
    if x%num == 0:
        return true

In [ ]:
solution(10)

['10']

IndexError: ignored

In [ ]:
'''
나눗셈
'''

7/2 # 그냥 나누기!

3.5

In [ ]:
7//2 # 몫만!

3

In [ ]:
7%2 # 나머지만!

1

### 정답

#### 다른 사람

In [ ]:
def solution(x):
    return x % sum([int(n) for n in str(x)]) == 0

#### 내 풀이

In [ ]:
def solution(x):
    for i in str(x):
      print(i)

In [ ]:
solution(10)

1
0

In [ ]:
def solution(x):
    a = 0
    for i in str(x):
        a += int(i)
    print(a)

In [ ]:
solution(12)

3

In [ ]:
def solution(x):
    a = 0
    for i in str(x):
        a += int(i)
    return x%a==0

## 7.평균 구하기

- https://programmers.co.kr/learn/courses/30/lessons/12944

In [ ]:
def solution(arr):
    return sum(arr) / len(arr)

#############################################
###   1)
###   return (sum(arr) / len(arr))
###
###   2)
###   answer = 0
###   for i in arr:
###       answer += i
###   return answer / len(arr)
###
###   3)
###   if len(arr) == 0:
###       return 0
###
###   return sum(list) / len(list)
########################################

## 8.콜라츠 추측

- https://programmers.co.kr/learn/courses/30/lessons/12943

### 버전 업뎃 되면서 실패됨

In [ ]:
'''
파이썬의 조건부 표현식(conditional expression)을 사용
https://wikidocs.net/20#_3
'''

def solution(num):
    for i in range(500):
        num = num/2 if num % 2 ==0 else num*3 +1
        if num == 1:
            return i+1
    return -1

### 성공!

In [ ]:
# 중복된 if문을 위에서 제거 가능하다.

def solution(num):
    
    if num == 1:
        return 0
    
    for i in range(500):

        if num % 2 == 0:
            num = num/2
            if num == 1:
                return i+1
        else:
            num = num*3+1
            if num == 1:
                return i+1
        
    return -1

In [ ]:
##########################################################
###
###   1)
###   for i in range(500):
###       num = num / 2 if num % 2 == 0 else num*3 + 1
###       if num == 1:
###            return i + 1
###    return -1
###
###
###   2)
###    answer = 0 #작업횟수 초기화
###    while True: #수마다 몇회 반복해야 할지 모르므로 무한루프
###         if num == 1: #입력받은 수가 1일경우 answer를 리턴
###             return answer
###
###         if answer == 500: #작업 횟수가 500이 되면 -1을 리턴
###            return -1
###
###         if num % 2 == 0: #입력받은 수가 짝수 일경우 2로 나눈값을 변수에 담는다. 
###             num = num / 2
###
###        elif num % 2 == 1: #입력받은 수가 홀수 일경우 3을 곱하고 1을 더해준다.
###            num = num * 3 + 1
###
###        answer += 1 #위의 작업을 마치고 작업횟수를 1더해준다
##################################################################

## 9.최대공약수와 최소공배수

- https://programmers.co.kr/learn/courses/30/lessons/12940

In [ ]:
# 유클리드 호제법으로 푼다!
# https://myjamong.tistory.com/138

def solution(a, b):
    c, d = max(a, b), min(a, b)
    t = 1
    while t > 0:
        t = c % d
        c, d = d, t
    answer = [c, int(a*b)/c]
    return answer

In [ ]:
def gcd(a, b):
    if a < b:
        (a, b) = (b, a)
    while b != 0:
        (a, b) = (b, a % b)
    return a
 
def solution(n, m):
    return [gcd(n,m), n*m/gcd(n,m)]

## 10.짝수와 홀수

- https://programmers.co.kr/learn/courses/30/lessons/12937

In [ ]:
def solution(num):
    answer = 'Even' if num%2==0 else 'Odd'
    return answer

## 11.제일 작은 수 제거하기

- https://programmers.co.kr/learn/courses/30/lessons/12935

In [ ]:
'''
remove, pop 함수!

https://redcow77.tistory.com/359
'''

def solution(arr):
    arr.remove(min(arr))
    if arr != True:
        return [-1]
    return arr

In [ ]:
def solution(arr):
    i = arr.index(min(arr))
    arr.pop(i)
    return arr or [-1] # 이게 개쩌는구나!! False면 or 뒤가 나오는 것이다!!

In [ ]:
def solution(arr):
    arr.remove(min(arr))
    return arr or [-1]

4

In [ ]:
'''
1)
index(x) 함수는 리스트에 x 값이 있으면 x의 위치 값을 돌려준다
>>> a.index(3)
2
>>> a = [1,2,3]
>>> a.index(1)
0


2)
pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다.
>>> a = [1,2,3]
>>> a.pop()
3
>>> a
[1, 2]


3)
return A or B
파이썬에서 0, [], " ", False 등등은 거짓 그 외에 나머지 값은 참
리스트가 빈 리스트라면(거짓) or에 의해서 참인 값 [-1]을 return 한다
'''

## 12.정수 제곱근 판별

- https://programmers.co.kr/learn/courses/30/lessons/12934

In [ ]:
def solution(n):
    num = n**(1/2)
    if num == int(num):
        return (num+1)**2    
    return -1

In [ ]:
'''
def solution(n):
    num = pow(n, 0.5)
    # num = n ** (1/2)

    if num == int(num) :
        return (num+1)**2

    return -1
'''

## 13.정수 내림차순으로 배치하기

- https://programmers.co.kr/learn/courses/30/lessons/12933

In [ ]:
'''
리스트 내포, join 함수

https://wikidocs.net/22#_1
https://devpouch.tistory.com/77
'''

def solution(n):
    box = [i for i in str(n)]
    box.sort(reverse=True)
    answer = ''.join(box)
    return int(answer)

In [ ]:
def solution(n):
    ls = list(str(n))
    ls.sort(reverse = True)
    return int(''.join(ls))

In [ ]:
'''
sort()는 오름차순 정렬
sort(reverse = True)는 내림차순 정렬
reverse( )는 단순히 리스트의 순서를 뒤집는 것
sorted()는 새로운 리스트를 반환, 오름차순
sorted(reverse=True)는 내림차순

split(구분자)는 문자열을 쪼개 리스트로 반환
>>> a = "Life is too short"
>>> a.split()
['Life', 'is', 'too', 'short']
>>> b = "a:b:c:d"
>>> b.split(':')
['a', 'b', 'c', 'd']

"".join(리스트)는 리스트의 문자열들을 합치는 역할
'''

## 14.자연수 뒤집어 배열로 만들기

- https://programmers.co.kr/learn/courses/30/lessons/12932

In [ ]:
'''
[::-1]

순서 뒤집기!!
'''

def solution(n):
    return [int(i) for i in str(n)][::-1]

## 15.자릿수 더하기

- https://programmers.co.kr/learn/courses/30/lessons/12931

In [ ]:
def solution(n):

    return sum([int(i) for i in str(n)])

In [ ]:
'''
sum()은 Iterable인 list, tuple, dictionary의 합을 리턴하는 함수입니다. 
숫자만 가능하며, 숫자가 아닌 객체가 있을 때 TypeError가 발생합니다.

sum(iterable) : iterable의 합
sum(iterable, num) : start + num의 합


list = [10, 22, 19, 2, 9, 3]
sum_list = sum(list)
print(sum_list)
>>>65
'''

## 16.이상한 문자 만들기

- https://programmers.co.kr/learn/courses/30/lessons/12930

In [ ]:
'''
split 함수

split()과 split(' ')이 똑같지만 그래도 확실하게 후자를 사용하자!
'''

def solution(s):
    
    total = []
    for i in s.split(' '):
        
        box = []
        for num, j in enumerate(str(i)):
            if num % 2 == 0:
                box.append(j.upper())
            else:
                box.append(j.lower())
        plus = ''.join(box)
        total.append(plus)
    

    return ' '.join(total)

In [ ]:
def solution(s):
    final = []
    for x in s.split(" "):
        word = ''
        for i in range(len(x)):
            a = x[i].upper() if i%2 == 0 else x[i].lower()
            word = word + a
        final.append(word)
    return " ".join(final)

In [ ]:
def solution(s):
    return " ".join(map(lambda x: "".join([a.lower() if i % 2 else a.upper() for i, a in enumerate(x)]), s.split(" ")))

## 17.약수의 합

- https://programmers.co.kr/learn/courses/30/lessons/12928

In [ ]:
def solution(n):
    
    box = []
    for i in range(n):
        print(i)
        if n%(i+1)==0:
            print('yes')
            box.append(i+1)
    print(box)
    answer = sum(box)
    return answer

In [ ]:
solution(12)

0
yes
1
yes
2
yes
3
yes
4
5
yes
6
7
8
9
10
11
yes
[1, 2, 3, 4, 6, 12]

28

In [ ]:
def solution(n):
    
    box = []
    for i in range(n):
        if n%(i+1)==0:
            box.append(i+1)
    
    answer = sum(box)
    return answer

In [ ]:
# range에서 시작과 끝, 간격을 설정할 수 있다!

def solution(n):
    answer = 0 
    for i in range(1, n+1) :
        if n % i == 0 :
            answer += i
    return answer

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
def solution(n):
    # num / 2 의 수들만 검사하면 성능 약 2배 향상잼
    return n + sum([i for i in range(1, (n // 2) + 1) if n % i == 0])

## 18.시저 암호

- https://programmers.co.kr/learn/courses/30/lessons/12926

In [ ]:
'''
ord(), chr() 함수

https://wikidocs.net/32
'''

def solution(s, n):
    s = list(s)
    for i in range(len(s)):
        if s[i].isupper():
            s[i] = chr((ord(s[i])-ord('A')+n)%26 + ord('A'))
        elif s[i].islower():
            s[i] = chr((ord(s[i])-ord('a')+n)%26 + ord('a'))
    return ''.join(s)


'''
1)
def solution(s, n):
    s = list(s)
    for i in range(len(s)):
        if s[i].isupper():
            s[i]=chr((ord(s[i])-ord('A')+ n)%26+ord('A')) # 알파벳은 26개
        elif s[i].islower():
            s[i]=chr((ord(s[i])-ord('a')+ n)%26+ord('a'))

    return "".join(s)


2)
def solution(s, n):
    alpha_upper = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    alpha_lower = "abcdefghijklmnopqrstuvwxyz"
    s_n = []
    
    for i in range(len(s)):
        if s[i] == ' ': 
            s_n.append(' ')
        if s[i].isupper():
            index = alpha_upper.find(s[i])
            s_n.append(alpha_upper[(index+n)%26])
        elif s[i].islower():
            index = alpha_lower.find(s[i])
            s_n.append(alpha_lower[(index+n)%26])
    return ''.join(s_n)
'''


'''
1)
ord(c)는 문자의 유니코드 값을 돌려주는 함수이다.
※ ord 함수는 chr 함수와 반대이다.

>>> ord('a')
97
>>> ord('가')
44032

2)
위치 알려주기1(find)
문자열 중 문자 b가 처음으로 나온 위치를 반환한다. 만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환한다.
※ 파이썬은 숫자를 0부터 세기 때문에 b의 위치는 15가 아닌 14가 된다.
>>> a = "Python is the best choice"
>>> a.find('b')
14
>>> a.find('k')
-1

'''

## 19.문자열을 정수로 바꾸기

- https://programmers.co.kr/learn/courses/30/lessons/12925

### 오답

In [ ]:
'''
리스트 내포 + if, else

https://devpouch.tistory.com/76
https://www.delftstack.com/ko/howto/python/python-list-comprehension-if-else/
'''

def solution(s):
  i if i == '-' for i in s

In [ ]:
def solution(s):
    
    number = 0
    [num*(-1) if i == '-' else number = i*(10**num) for num, i in enumerate(s)]
    
    return number

### 업뎃 되면서 오답됨.

In [ ]:
def solution(s):
    
    number = 0
    for num, i in enumerate(s[::-1]):
        if i != '-':
            number += int(i)*(10**num)
        else:
            number *= -1
    return number

In [ ]:
def solution(str):
    answer = 0
    for idx, num in enumerate(str[::-1]):
        if num == '-':
            answer *= -1
        else:
            answer += int(num)*(10**idx)
    return answer

### 정답

In [ ]:
def solution(str):
    return int(str)

## 20.수박수박수박수박수박수?

- https://programmers.co.kr/learn/courses/30/lessons/12922

In [ ]:
def solution(n):
    
    answer = ''
    for i in range(n):
        if i%2 != 0:
            answer += '박'
        else:
            answer += '수'
    
    return answer

In [ ]:
def solution(n):
    count = '수박'*n
    return count[:n]



'''
1)
def solution(n):
    return "수박"*(n//2) + "수"*(n%2)


2)
def solution(n):
    s = "수박" * n
    return s[:n]
'''

## 21.소수 찾기

https://programmers.co.kr/learn/courses/30/lessons/12921

In [75]:
'''
집합 계산

https://wikidocs.net/1015
'''


def solution(n):
    num = set(range(2,n+1))

    for i in range(2,n+1):
        print(i)
        if i in num:
            num -= set(range(2*i,n+1,i))
            print(num)
    return len(num)

'''
1)[파이썬] 에라토스테네스의 체

def solution(n):
    num=set(range(2,n+1)) # 2부터 n까지의 집합

    for i in range(2,n+1): # 2부터 n까지 반복문
        if i in num: # 만약 i가 num 집합에 있다면
            num-=set(range(2*i,n+1,i)) # i의 배수는 num 집합에서 제외
    return len(num) # num에 남아있는 숫자의 개수가 소수의 개수
'''

'\n1)[파이썬] 에라토스테네스의 체\n\ndef solution(n):\n    num=set(range(2,n+1)) # 2부터 n까지의 집합\n\n    for i in range(2,n+1): # 2부터 n까지 반복문\n        if i in num: # 만약 i가 num 집합에 있다면\n            num-=set(range(2*i,n+1,i)) # i의 배수는 num 집합에서 제외\n    return len(num) # num에 남아있는 숫자의 개수가 소수의 개수\n'

In [76]:
solution(10)

2
{2, 3, 5, 7, 9}
3
{2, 3, 5, 7}
4
5
{2, 3, 5, 7}
6
7
{2, 3, 5, 7}
8
9
10

4

In [60]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [63]:
# 리스트와는 반대로 +가 안된다.
s1 + s2

TypeError: ignored

In [64]:
# 리스트와는 반대로 -는 된다.
s1 - s2

{1, 2, 3}

## 22.서울에서 김서방 찾기

- https://programmers.co.kr/learn/courses/30/lessons/12919

In [ ]:
'''
파이썬 리스트, 문자열 index() 함수

https://wikidocs.net/14#index
'''

def solution(seoul):
    return f"김서방은 {seoul.index('Kim')}에 있다"

In [ ]:
'''
index(x) 함수는 리스트에 x 값이 있으면 x의 위치 값을 돌려준다.
>>> a = [1,2,3]
>>> a.index(3)
2
>>> a.index(1)
0


문자열 함수 index:
위치 알려주기2(index)
문자열 중 문자 t가 맨 처음으로 나온 위치를 반환한다.
만약 찾는 문자나 문자열이 존재하지 않는다면 오류를 발생시킨다.
앞의 find 함수와 다른 점은 문자열 안에 존재하지 않는 문자를 찾으면 오류가 발생한다는 점이다.
>>> a = "Life is too short"
>>> a.index('t')
8
>>> a.index('k')
Traceback (most recent call last):
File "<stdin>", line 1, in <module>
ValueError: substring not found
'''

## 23.문자열 다루기 기본

- https://programmers.co.kr/learn/courses/30/lessons/12918

In [ ]:
'''
isdigit()  함수

https://blockdmask.tistory.com/556
'''

def solution(s):
    return s.isdigit() and len(s) in (4,6)

In [ ]:
'''
2)
import re
def solution(s):
    return bool(re.match("^(\d{4}|\d{6})$", s))
'''

## 24.문자열 내림차순으로 배치하기

- https://programmers.co.kr/learn/courses/30/lessons/12917

In [77]:
'''
sorted() 함수

sorted() 함수는 문자열과 리스트에서 모두 사용할 수 있다!
리스트를 반환하기 때문이다!
하지만 sort()는 리스트만의 함수이다!
'''

def solution(s):
    return ''.join(sorted(s, reverse=True))

In [ ]:
'''
sorted(iterable) 함수는 입력값을 정렬한 후 그 결과를 리스트로 돌려주는 함수이다.
>>> sorted([3, 1, 2])
[1, 2, 3]
>>> sorted(['a', 'c', 'b'])
['a', 'b', 'c']
>>> sorted("zero")
['e', 'o', 'r', 'z']
>>> sorted((3, 2, 1))
[1, 2, 3]
'''

## 25.문자열 내 p와 y의 개수

- https://programmers.co.kr/learn/courses/30/lessons/12916

In [ ]:
'''
count() 함수

https://blockdmask.tistory.com/410
https://redcow77.tistory.com/357
'''

def solution(s):
    return s.lower().count('p') == s.lower().count('y')

## 26.문자열 내 마음대로 정렬하기

- https://programmers.co.kr/learn/courses/30/lessons/12915

### 오답

In [ ]:
def solution(strings, n):
  
    strings.sort()
    dic = {string[n]+str(num):string for num, string in enumerate(strings)}
    
    key = sorted(list(dic.keys()))
    
    answer = []
    for i in key:
        answer.append(dic[i])
        
    return answer

### 정답

In [ ]:
'''
sort() 함수 key인자

https://ooyoung.tistory.com/59
'''

def solution(strings, n):
    
    return sorted(sorted(strings), key=lambda x: x[n])

## 27.두 정수 사이의 합

- https://programmers.co.kr/learn/courses/30/lessons/12912

In [ ]:
def solution(a, b):
    a, b = min(a,b), max(a, b)
    answer = 0
    for i in range(a,b+1):
        answer += i
    return answer

In [ ]:
def solution(a, b):
    a, b = min(a,b), max(a,b)
    return sum(range(a, b+1))

In [ ]:
def solution(a, b):
    return (a+b)*(abs(a-b)+1)/2
# (첫 항+끝 항) * (원소의 개수 / 2)

## 28.나누어 떨어지는 숫자 배열

- https://programmers.co.kr/learn/courses/30/lessons/12910

# Level 2

# Level 3